# Import des modules

In [2]:
import pandas as pd

# Lecture des données

In [12]:
db = pd.read_csv("../Ars_data_v_2/output_data.csv", encoding="utf-8", low_memory=False)
db.drop(db[db.columns[0]], axis=1, inplace=True)

KeyError: '[0 1 2 ... 37961 37962 37963] not found in axis'

# Vue sur les données

In [11]:
db

,Unnamed: 0,Nom_com,NG19_60>,NG19T,Pop16_<18,NC16_15_64,NC16_15_24,NRP16,RFM16,Pop16_>65,TN16,PM16,code_dep,code_commune_INSEE,nom_departement,nom_region,code_postal,code_region
0,0,L'Abergement-Clémenciat,0,0,194.0,33.0,8.0,8.0,23440.0,143.0,9.1,767.0,01,01001,Ain,Auvergne-Rhône-Alpes,1400.0,84.0
1,1,L'Abergement-de-Varey,0,0,62.0,10.0,4.0,0.0,24214.0,44.0,24.7,243.0,01,01002,Ain,Auvergne-Rhône-Alpes,1640.0,84.0
2,2,Ambérieu-en-Bugey,4,21,3369.0,1080.0,258.0,1305.0,19450.0,2322.0,15.6,14081.0,01,01004,Ain,Auvergne-Rhône-Alpes,1500.0,84.0
3,3,Ambérieux-en-Dombes,1,2,403.0,68.0,25.0,31.0,23280.0,257.0,8.4,1671.0,01,01005,Ain,Auvergne-Rhône-Alpes,1330.0,84.0
4,4,Ambléon,0,0,15.0,8.0,3.0,0.0,NaN,26.0,18.2,110.0,01,01006,Ain,Auvergne-Rhône-Alpes,1300.0,84.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33212,37957,Mtsamboro,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97,97612,Mayotte,Mayotte,97630.0,6.0
33213,37958,M'Tsangamouji,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97,97613,Mayotte,Mayotte,97650.0,6.0
33214,37961,Pamandzi,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97,97615,Mayotte,Mayotte,97615.0,6.0
33215,37962,Sada,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97,97616,Mayotte,Mayotte,97640.0,6.0
33216,37963,Tsingoni,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97,97617,Mayotte,Mayotte,97680.0,6.0

In [8]:
db.columns

Index([',Nom_com,NG19_60>,NG19T,Pop16_<18,NC16_15_64,NC16_15_24,NRP16,RFM16,Pop16_>65,TN16,PM16,code_dep,code_commune_INSEE,nom_departement,nom_region,code_postal,code_region'], dtype='object')

In [ ]:
db.describe()

# Séparation des données

# Calcule des valeurs à afficher

In [ ]:
def calcule_indicateur(df):
    colnames = df.columns
    for colname in colnames:
        df[colnames] = df[colnames].apply(lambda x: '0'+str(x) if(len(str(x)) == 4) else str(x))